
*.pyc

*.log

*.csv

*.stackdump

*.xlsx

*.h5

*.pkl

*.DS_Store

Stellar_0.1/.idea/*
Stellar_0.1/stl_strategy_simulator/test_back/rqalpha/data_bundle/*
Stellar_0.1/stl_strategy_simulator/test_back/rqalpha/strategy/*
Stellar_0.1/stl_strategy_simulator/test_back/stellar/data_bundle/*
Stellar_0.1/stl_strategy_simulator/test_back/stellar/strategy/*

